@charset "UTF-8";
:root {
  --color-basic: #212121;
  --color-second: #757575;
  --color-acсent: #2196f3;
  --color-third: #fff;
  --button-background: #188ce8;
  --base-background: #fff;
  --second-background: #f5f4f2;
  --icon-color: #afb1b8;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--base-background);
  color: var(--color-second);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

a {
  text-decoration: none;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo--blue {
  color: var(--color-acсent);
}
.logo--black {
  color: #000;
}
.logo--white {
  color: var(--color-third);
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--color-third);
  background-color: var(--color-acсent);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.button:hover, .button:focus, .button:active {
  background-color: var(--button-background);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.buttons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 50px;
}
.buttons__item {
  margin-right: 8px;
}
.buttons__item:last-child {
  margin-right: 0;
}
.buttons__nav {
  color: var(--color-basic);
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  -webkit-transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.buttons__nav.current {
  color: var(--color-third);
  background-color: var(--color-acсent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons__nav:hover, .buttons__nav:focus, .buttons__nav:active {
  color: #fff;
  background-color: var(--color-acсent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--color-third);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-third);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}

.button-close:hover,
.button-close:focus,
.button-close:active {
  fill: var(--color-acсent);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form {
  width: 448px;
}

.form__title {
  margin-bottom: 12px;
  text-align: center;
  color: var(--color-basic);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-second);
  margin-bottom: 4px;
}

.form-field input {
  width: 100%;
  height: 40px;
  padding: 16px 16px 16px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  -webkit-transition: border-color var(--duration) var(--timing-function);
  transition: border-color var(--duration) var(--timing-function);
}

.form-field-input {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 14px;
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition: border var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function);
}

.form-comment {
  margin-bottom: 20px;
}

.modal-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox-modal-icon {
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  fill: #000;
}

.checkbox-tick {
  position: absolute;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--color-acсent);
  width: 16px;
  height: 16px;
  opacity: 0;
  -webkit-transition: opacity var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function);
}

.checkbox:checked + .checkbox-tick {
  opacity: 1;
}

.contract {
  color: var(--color-acсent);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal-button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--color-acсent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-third);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.67;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  background-color: #188CE8;
}

.form input:focus-visible,
.form input:focus,
.form input:active,
.form textarea:focus,
.form textarea:focus-visible,
.form textarea:active {
  border: 1px solid var(--color-acсent);
  outline: none;
}

input:focus + .modal-icon {
  fill: var(--color-acсent);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .current::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-acсent);
  border-radius: 2px;
}

.nav__list,
.contact__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__link,
.contact__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-basic);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
.nav__link:hover, .nav__link:focus, .nav__link:active,
.contact__link:hover,
.contact__link:focus,
.contact__link:active {
  color: var(--color-acсent);
  fill: var(--color-acсent);
}

.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact__list {
  margin-left: auto;
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.mail {
  margin-right: 10px;
  fill: currentColor;
}

.smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.contact__link {
  color: var(--color-second);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link.current {
  color: var(--color-acсent);
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}
.hero__title {
  color: var(--color-third);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
}

.features__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 30px;
  width: 270px;
}
.features_item:last-child {
  margin-right: 0;
}
.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-basic);
  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
}
.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.activity {
  padding-top: 0;
}
.activity__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-basic);
  margin-bottom: 50px;
}
.activity__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.activity__item {
  margin-right: 30px;
}
.activity__item:last-child {
  margin-right: 0;
}
.activity__overlay {
  position: relative;
}
.activity__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-third);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--second-background);
}
.team__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-basic);
  margin-bottom: 50px;
}
.team__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.team__card {
  margin-right: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--base-background);
}
.team__card:last-child {
  margin-right: 0;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-container__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-basic);
}
.team-container__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.team-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-container__list li:not(:last-child) {
  margin-right: 10px;
}
.team-container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--duration) var(--timing-function), border-radius var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function), border-radius var(--duration) var(--timing-function);
}
.team-container__link:hover, .team-container__link:focus, .team-container__link:active {
  background-color: var(--color-acсent);
  border-radius: 50%;
}
.team-container__icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}
.team-container__link:hover .team-container__icon, .team-container__link:focus .team-container__icon, .team-container__link:active .team-container__icon {
  fill: var(--base-background);
}

.client__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-basic);
  margin-bottom: 50px;
}
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.client__list li:not(:last-child) {
  margin-right: 30px;
}
.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  -webkit-transition: border var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function);
}
.client__link:hover, .client__link:focus, .client__link:active {
  border: 1px solid var(--color-acсent);
}
.client__icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}
.client__link:hover .client__icon, .client__link:focus .client__icon, .client__link:active .client__icon {
  fill: var(--color-acсent);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
  display: block;
}

.contacts {
  font-style: normal;
  margin-right: 70px;
}
.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts__item {
  margin-bottom: 9px;
}
.contacts__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: var(--color-acсent);
}
.contacts__address {
  color: var(--color-third);
  text-decoration: none;
  display: inline-block;
}

.social__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-third);
  margin-bottom: 20px;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__list li:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.social__icon {
  fill: var(--color-third);
}
.social__link:hover, .social__link:focus, .social__link:active {
  background-color: var(--color-acсent);
}

.subscription {
  margin-left: auto;
}
.subscription__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-third);
  font-size: 14px;
  line-height: 1.14;
}
.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscription__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--color-third);
  -webkit-transition: border var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function);
}
.subscription__input:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--button-background);
  color: var(--color-third);
  width: 200px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.subscription__button:focus, .subscription__button:hover, .subscription__button:active {
  background-color: #188CE8;
}
.subscription__icon {
  margin-left: 10px;
}

.portfolio-nav {
  border-bottom: 1px solid #EEEEEE;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}
.menu__list .menu__item {
  width: calc((100% - 60px) / 3);
  display: block;
}
.menu__list:nth-child(3n) {
  margin-right: 0;
}
.menu__link {
  display: block;
  -webkit-transition: color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.menu__link:hover .card-info, .menu__link:focus .card-info, .menu__link:active .card-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-second);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.card-info {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
  background-color: rgba(33, 150, 243, 0.9);
}

.info-text {
  color: var(--color-third);
  font-size: 18px;
  line-height: 1.6;
  padding: 64px 24px;
}

.menu-container {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.menu-container__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-basic);
}
.menu-container__text {
  color: var(--color-second);
  font-size: 16px;
  line-height: 1.87;
}/*# sourceMappingURL=main.css.map */