.activity {
    padding-top: 0;

    &__title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--color-basic);
    margin-bottom: 50px;
    }
    &__list {
    padding: 0;
    list-style: none;
    display: flex;
}
    &__item {
    margin-right: 30px;
}
    &__item:last-child {
    margin-right: 0;
}
    &__overlay {
    position: relative;
}
    &__text {
    position: absolute;
    left: 0;
    bottom: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-third);
    background-color: rgba(47, 48, 58, 0.8);
}
}











