.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    
    &__container {
    display: flex;
    align-items: baseline;
}
    & .logo {
    margin-bottom: 20px;
    margin-right: 0;
    display: block;

}

}

.contacts {
    font-style: normal;
    margin-right: 70px;

    &__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

&__item {
    margin-bottom: 9px;
}

&__link {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color var(--duration) var(--timing-function);
}

&__item:last-child {
    margin-bottom: 0;
}

&__link:hover,
&__link:focus,
&__link:active {
    color: var(--color-acсent);
}

&__address {
    color: var(--color-third);
    text-decoration: none;
    display: inline-block;
}

}

.social{
    &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-third);
    margin-bottom: 20px;
}

    &__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

    &__list li:not(:last-child) {
    margin-right: 10px;
}

    &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--duration) var(--timing-function);
}

&__icon {
    fill: var(--color-third);
}

&__link:hover,
&__link:focus,
&__link:active {
    background-color: var(--color-acсent);
}

}


.subscription {
    margin-left: auto;
    
    &__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--color-third);

    font-size: 14px;
    line-height: 1.14;

}

&__form {
    display: flex;

}

&__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--color-third);
    transition: border var(--duration) var(--timing-function);
}

&__input:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

&__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-background);
    color: var(--color-third);

    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color var(--duration) var(--timing-function);
}

&__button:focus,
&__button:hover,
&__button:active {
    background-color: #188CE8;
}

&__icon {
    margin-left: 10px;
}
}

