:root {
    --color-basic: #212121;
    --color-second: #757575;
    --color-acсent: #2196f3;
    --color-third: #fff;
    --button-background: #188ce8;
    --base-background: #fff;
    --second-background: #f5f4f2;
    --icon-color: #afb1b8;
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}